.user-page {
  padding-top: 2em;
}

/* user title */
.user-page .user-title {
  display: flex;
  align-items: center;
}
.user-page .user-title .user-name {
  margin: 0;
  margin-left: 1rem;
  font-size: 2em;
  font-weight: bold;
}
.user-page .user-title .lastname {
  text-transform: uppercase;
}

/* sections */
.user-page > section {
  margin-top: 3em;
}
.user-page .section-title {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1.4em;
}

/* Company section */
.user-page .company-info .field {
  font-size: 1.1em;
  margin-top: 0.5em;
}
.user-page .company-info .field:first-child {
  margin-top: 0;
}
