.user-page h2 {
  margin: 0;
}

.user-page .userTitle .name {
  font-size: 1.3em;
}

.user-page > section {
  margin-top: 2em;
}
.user-page .section-title {
  margin-bottom: 0.7em;
  font-size: 1.2em;
  font-weight: bold;
}

/* Company section */
.user-page .companyInfo .field-key {
  display: inline-block;
  margin-right: 0.4em;
  font-weight: bold;
}
