.main-header {
  padding: 1.5em 2em 1.7em var(--pagePaddingLeft);
  color: var(--headerTextColor);
  border-bottom: 1px solid var(--headerBorderColor);
  background: var(--headerBackground);
}

.main-header h1 {
  margin: 0;
}
