body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--testBackground);
}

.main-header h1 {
  font-size: 2em;
}

.page {
  flex-grow: 1;
  padding: 1em;
  color: var(--mainTextColor);
  background: var(--mainBackground);
}
