body {
  --headerTextColor: #6449D1;
  --headerBackground: white;
  --headerBorderColor: #EEEBFA;

  --mainTextColor: #183753;
  --mainBackground: #F9F9F9;

  --cardTextColor: #6347D1;
  --cardBackground: #F5F3FB;
  --cardBorderColor: #CDC5F1;
}
